 <%- include('components/navbar') %>



<div class="container">
  <div class="row">
  	<div class="col-md-12 mt-5">
  		<h3>
  			<center>
  				<marquee>SELAMAT DATANG DI WEBSITE INI</marquee>
  			</center>
  		</h3>
  	</div>
  </div>
</div>

<form action="#" style="width: 700px"class="posisi";>
<fieldset class="h"/>
<table style="width: 600px;">
<body style="background-color:pink"> </body>
<font size="25px">

<%- include('components/footer') %>